<app-nav></app-nav>
<section class="text-center my-3">
  <span style="color:rgb(0, 140, 255)" class="mr-2">{{currentDate}}</span>
</section>
<section id="statistic">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4 md-4">
        <div class="card card-vacinated">
          <div class="card-body">
            <h3 class="card-title">Vacinated Dose 1</h3>
            <p   [countUp]="india.stats.total.vaccinated1" [options]="myOptions"  [reanimateOnClick]="false" class="card-text" >{{india.stats.total.vaccinated1 | number}}</p>
            <p>Number of people vacinated with 1st Dose</p>
          </div>
        </div>
        </div>
        <div class="col-md-4 md-4">
          <div class="card card-vacinated">
            <div class="card-body">
              <h3 class="card-title">Vacinated Dose 2</h3>
              <p   [countUp]="india.stats.total.vaccinated2" [options]="myOptions"  [reanimateOnClick]="false" class="card-text" >{{india.stats.total.vaccinated2 | number}}</p>
              <p>Number of people vacinated with both Dose</p>
            </div>
          </div>
          </div>
      <div class="col-md-4 md-4">
        <div class="card card-active">
          <div class="card-body">
            <h3 class="card-title">Tested</h3>
            <p  [countUp]="india.active" [options]="myOptions"  [reanimateOnClick]="false" class="card-text" >{{india.stats.total.confirmed | number}}</p>
            <p>Number of active cases of COVID-19</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 md-4">
        <div class="card card-infected">
          <div class="card-body">
            <h3 class="card-title">Confirmed</h3>
            <p   [countUp]="india.stats.total.confirmed"   [reanimateOnClick]="false" class="card-text" >{{india.stats.total.confirmed | number}}</p>
            <p>Number of confirmed cases of COVID-19</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 md-4">
        <div class="card card-recovered">
          <div class="card-body">
            <h3 class="card-title">Recovered</h3>
            <p [countUp]="india.stats.total.recovered" [options]="myOptions"  [reanimateOnClick]="false" class="card-text" >{{india.stats.total.recovered | number}}</p>
            <p>Number of recovered cases of COVID-19</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 md-4">
        <div class="card card-deaths">
          <div class="card-body">
            <h3 class="card-title">Deaths</h3>
            <p [countUp]= "india.stats.total.deceased" [options]="myOptions" [reanimateOnClick]="false" class="card-text" >{{india.stats.total.deceased | number}}</p>
            <p>Number of deaths cases of COVID-19</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-center my-3">
  <div class="container text-center">
     <table class=" text-center table table-striped d-inline-block table-responsive-sm table-bordered table-hover tblwd">
        <thead>
          <tr class="table-primary">
            <th scope="col">State/UT</th>
            <th scope="col">Vacinated One</th>
            <th scope="col">Vacinated Both</th>
            <th scope="col">Tested</th>
            <th scope="col">Confirmed</th>
            <th scope="col">Recovered</th>
            <th scope="col">Deceased</th>
          </tr>
        </thead>
        <tbody>

          <tr class="table-light" *ngFor="let sd of statewise">
            <th>{{sd.state}}</th> 
            <td  [countUp]="sd.stats.total.vaccinated1">{{sd.stats.total.vaccinated1 | number}}</td>
            <td  [countUp]="sd.stats.total.vaccinated2">{{sd.stats.total.vaccinated2 | number}}</td>
            <td [countUp]="sd.stats.total.tested">{{sd.stats.total.tested | number}}</td>
             <td [countUp]="sd.stats.total.confirmed">{{sd.stats.total.confirmed | number}}</td>
             <td [countUp]="sd.stats.total.recovered">{{sd.stats.total.recovered |number}}</td>
             <td [countUp]="sd.stats.total.deceased">{{sd.stats.total.deceased |number}}</td>
          </tr>
          <tr class=table-primary *ngIf="india">
            <th>{{india.state == 'TT' ? 'India' : '' }}</th> 
            <td [countUp]="india.stats.total.vaccinated1"  >{{india.stats.total.vaccinated1 |number }}</td>
            <td [countUp]="india.stats.total.vaccinated2">{{india.stats.total.vaccinated2 |number}}</td>
            <td [countUp]="india.stats.total.tested">{{india.stats.total.tested | number}}</td>
            <td [countUp]="india.stats.total.confirmed">{{india.stats.total.confirmed | number}}</td>
            <td [countUp]="india.stats.total.recovered">{{india.stats.total.recovered |number}}</td>
            <td [countUp]="india.stats.total.deceased">{{india.stats.total.deceased |number}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</section>
<app-footer></app-footer>