/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    color: lightslategray;
  }

  #navigation .navbar {
    border-bottom: 1px solid rgba(128, 0, 128, 0.082);
    font-family: 'Alegreya Sans', sans-serif;
  }
  
  #navigation .navbar a {
    color:rgb(4, 47, 238) ;
  }
  #navigation .navbar a:hover {
    color: #dedede;
  }
  
@media(max-width: 768px) {
    #header img {
      margin: 0 auto;
    }
}
  


  .card{
    height: 230px;
    margin-bottom: 10px;
  }

  #header {
    background: url('assets/733.jpg') center  no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
  }

  #header .h1-title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
  }
  
.card-vacinated {
  background-color :rgba(112, 188, 20, 0.34) !important;
  border: rgb(117, 157, 65) !important;
  opacity: 1;
}

.card-vacinated p,
.card-vacinated .card-body .card-title,
.card-vacinated .card-body .card-text {
  color : rgb(117, 157, 65) !important;
}


.card-infected{
    background-color :rgba(255, 7, 58, 0.125) !important;
    border: rgb(253, 4, 4) !important;
    opacity: 1;
}

.card-infected .card-body .card-title,
.card-infected .card-body .card-text ,
.card-infected p{
    color : rgb(253, 4, 4) !important;
}

.card-recovered{
    background-color :rgba(0, 123, 255, 0.125) !important;
    border:rgb(4, 47, 238) !important;
    opacity: 1;
}

.card-recovered .card-body .card-title,
.card-recovered .card-body .card-text ,
.card-recovered p{
    color : rgb(4, 47, 238) !important;
}
  
.card-deaths{
    background-color :rgba(108, 117, 125, 0.125) !important;
    border: rgba(85, 82, 82, 0.822) !important;
    opacity: 1;
}

.card-deaths .card-body .card-title,
.card-deaths .card-body .card-text ,
.card-deaths p{
    color : rgba(85, 82, 82, 0.822) !important;
}
  
.card-active{
    background-color :rgba(40, 167, 69, 0.125) !important;
    border: rgba(16, 207, 16, 0.822) !important;
    opacity: 1;
}

.card-active .card-body .card-text ,
.card-active .card-body .card-title,
.card-active p{
    color : rgba(16, 207, 16, 0.822) !important;
}

#footer {
    padding: 1rem 0;
    background-color: #fff;
    color: #000 !important;
  }
  
  #footer a {
    color: purple;
  }
  #footer a:hover {
    transition: all 0.3s ease-in-out;
  }
  #footer .fas {
    padding: 2px;
  }